@import '../colors.css';

.schedule {
	color: var(--mainTextColor);
}

.bottomPart {
	display: flex;
	flex-direction: row;
	/* background-color: red; */
}

.reservationButton {
	margin-top: 50%;
	margin-left: 20px;
}

/* thead tr {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
} */

.reservationButton,
button {
	text-decoration: none;
	border: none;
	color: var(--mainTextColor);
	background-color: #1da1f2;
	height: fit-content;
	border-radius: 25px;
	font-size: larger;
	padding: 5px;
}
