.profileBody {
	padding: 20px;
}

.logoutButtonContainer {
	display: flex;
	justify-content: leftt;
	width: 100%;
}

.logoutButton {
	font-size: 14px;
	font-weight: bolder;
	margin-left: 10px;
	padding: 10px 15px;
	background-color: var(--secondaryColor);
	color: var(--mainTextColor);
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
