:root {
	--bodyBackgroundColor: white;
	--mainColor: #183953;
	--secondaryColor: #009bf9;
	--inactiveColor: grey;
	--mainTextColor: white;
	--secondaryTextColor: black;
	/* button colors */
	--buttonColor: ;
	--shadowColor: black;
	/* calendar colors */
	--calendarWeekend: salmon;
	--calendarSelected: white;
	/* #183953 */
}
