.adminPanelBody {
	padding: 25px;
	display: flex;
	flex-direction: column;
	color: white;
}

.adminMenuPicker {
	width: 200px;
	display: flex;
	align-self: center;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	background-color: lightgray;
	position: relative;
	border-radius: 5px;
	/* Ensure this container is the reference for the indicator */
}

.adminMenuPicker button {
	width: 50%;
	background: none;
	border: none;
	padding: 10px;
	cursor: pointer;
	position: relative;
	z-index: 1;
	color: var(--secondaryColor);
	transition: color 0.3s;
}

.adminMenuPicker button.active {
	color: var(--mainTextColor);
}

.indicator {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 50%;
	border-radius: 5px;
	background-color: var(--secondaryColor);
	transition: transform 0.3s ease;
}

.indicator.users {
	transform: translateX(0%);
}

.indicator.addresses {
	transform: translateX(100%);
}
