/* .loginForm {
	position: fixed;
	width: 350px;
	height: 350px;
	top: 10%;
	left: 10%;
	background-color: red;
} */
/* LoginForm.css */

.modalBackdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
}

.loginForm {
	width: 300px;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	background-color: var(--mainColor);
}

.closeButtonContainer {
	display: flex;
	justify-content: right;
}

.loginForm h1 {
	text-align: center;
}

.form {
	display: flex;
	flex-direction: column;
}

.label {
	margin-top: 10px;
	margin-bottom: 5px;
}

.form-control {
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.loginButtonContainer {
	display: flex;
	justify-content: center;
}

.loginFormButton {
	padding: 10px 15px;
	background-color: var(--secondaryColor);
	color: var(--mainTextColor);
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.loginFormButton:hover {
	background-color: #0056b3;
}

p {
	margin-top: 15px;
	justify-content: center;
	display: flex;
	align-items: center;
}

p button {
	background-color: transparent;
	border: none;
	color: #007bff;
	cursor: pointer;
	text-decoration: underline;
}

p button:hover {
	text-decoration: none;
}
